<!-- /Templating_Demo/views/home.ejs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
</head>
<body>
    <h1>ホームページ</h1> 
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam eius numquam dolor ut est corporis quam accusamus totam consequuntur id? Ullam suscipit dignissimos veniam illum dicta maiores molestias vero sequi.
        Facilis quo qui error ipsam voluptas cum labore magni inventore consequatur ex ut nisi asperiores voluptatibus soluta quod autem quos illum, earum aperiam beatae! Quod hic aut ullam laudantium quasi!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem praesentium dolore quam ducimus, consectetur odit commodi delectus est facere odio cumque quis repellendus error, ea nostrum saepe optio enim?
        Sed nihil quidem dignissimos libero corrupti hic voluptates ipsam voluptatem aperiam autem ab similique vel voluptatum, ex praesentium itaque reiciendis dolor et, dolore at molestias nobis nesciunt! Optio, dignissimos accusantium?
    </p>
</body>
</html>